<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 쿼리에 대해 공통으로 붙을 이름 -->  
<mapper namespace="com.kh.sample01.member">

	<!-- 현재시간 구하기 -->
	<!-- 쿼리문이 실행되고 나면 return되는 타입이 resultTpye=""임 -->
	<select id="getTime" resultType="java.sql.Timestamp">
		select sysdate from dual
	</select>
	
	<!-- values에 vo의 생성자를 넣어줌 -->
	<!-- null값에 대해서는 타입을 지정해주어야함(jdbcType=) (테이블의 제약조건에 not null조건이 없을 때) -->
	<insert id="insertMember">
		insert into tbl_member
			(user_id, user_pw, user_name, user_email, user_pic)
		values
			(#{user_id}, #{user_pw}, #{user_name}, #{user_email, jdbcType=VARCHAR}, #{user_pic, jdbcType=VARCHAR})
	</insert>
	
	<!-- 원래는 com.kh.sample01. .. .이렇게 써야하는데 mybatis에 지정해놨기때문에 그냥 MemberVo사용가능 -->
	<select id="selectMember" resultType="MemberVo">
		select * from tbl_member
		where user_id = #{user_id}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="MemberVo">
		select * from tbl_member
		where user_id = #{user_id}
		and user_pw = #{user_pw}
	</select>
	
	<!-- 수정 -->
	<update id="updateMember">
		update tbl_member set
			user_pw = #{user_pw},
			user_name = #{user_name},
			user_email = #{user_email, jdbcType=VARCHAR},
			update_date = sysdate
		where user_id = #{user_id}
	</update>
	
	<!-- 삭제 -->
	<delete id="deleteMember">
		delete from tbl_member
		where user_id = #{user_id}
	</delete>
	
	<!-- 리스트 -->
	<select id="memberList" resultType="MemberVo">
		select * from tbl_member
		order by reg_date desc
	</select>
	
	<!-- 포인트 업데이트 -->
	<update id="updatePoint">
		update tbl_member set
			user_point = user_point + #{point_score}
		where user_id = #{user_id}
	</update>
	
	<!-- 중복확인 -->
	<select id="checkDupId" resultType="int">
		select count(*) from tbl_member
		where user_id = #{user_id}
	</select>
	
	<!-- 포인트 가져오기 -->
	<select id="getUserPoint" resultType="int">
		select user_point from tbl_member
		where user_id = #{user_id}
	</select>

</mapper>







