<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.sample01.point">
		
	<insert id="insertPoint">
		insert into tbl_point (point_no, user_id, point_code, point_score)
		values (seq_point_no.nextval, #{user_id}, #{point_code}, #{point_score})
	</insert>
	
</mapper>







